*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Light.ttf');
}


$tablet: 800px;
$desktop: 1300px;


$titulo01: Montserrat;

$color01: rgb(232, 206, 187);
$color02: rgb(207, 234, 214);
$color03: rgb(62, 92, 65);
$color04: rgb(34, 50, 35);

h1{
    font-family: $titulo01;
    color: $color04;
    font-weight: 900;
    font-size: clamp(3rem, 5vw, 8rem);
    text-shadow: 0px 0px 3px $color02;
}

h2{
    font-family: $titulo01;
    font-weight: 600;
    color: $color01;
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
    
}
p{
    font-family: $titulo01;
    font-size: 1rem;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}
.boton{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    background-color: $color01;
    color: $color03;
    transition: 1s;
    font-weight: 600;
    &:hover{
        background-color: rgba(255, 255, 255, 0.479);
        color:$color03;
    }
}
.card{
    cursor: pointer;
    transition: 1s;
    &:hover{
        background-color: rgba(0, 0, 0, 0.335);
    }
}